@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

:root {
  --white: hsl(0, 0%, 90%);
  --black: hsl(0, 0%, 10%);
  --color1-primary: #68a830;
  --color2-primary: #a21212;
  --color2-trans: rgba(162, 18, 18, 0.8);
  --color2-secondary: #da3330;
  --color2-tertiary: #ff4e41;
  --shade1: hsl(0, 0%, 50%);
  --shade1-trans: hsl(0, 0%, 50%, 60%);
  --menu-speed: 0.5s;
  --h1-size: 1.8rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.14em;
  font-size: 1.4em;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-size);
  line-height: 1.2em;
}

a {
  color: var(--color3);
  text-decoration: none;
}

p {
  padding: 0px;
}

ul li {
  text-decoration: none;
  /* display: inline; */
}

.list-container .row {
  display: flex;
  align-items: center;
  padding: 1vh;
}

/* HAMBURGER BEGIN */

.container {
  margin-right: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.menu-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 2vh;
  left: 0;
  width: 98%;
}

/* invisible toggle area */

#toggler {
  position: absolute;
  width: 10vw;
  height: 10vh;
  /* max-height: 3em; */
  /* max-width: 3em; */
  z-index: 20;
  cursor: pointer;
  opacity: 0;
  top: 0;
  right: 0;
  font-size: 2em;
  border: 1px solid;
  background-image: url(images/logo-master-white.png);
  /* background-color: pink; */
}

.fa-solid {
  font-size: 2em;
  position: absolute 50% 50%;
  padding-right: 1vw;
  color: var(--color1-primary);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 0.8;
  transition: opacity 0.2s ease 0.2s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--color1-primary);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.2s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* HEADER */

.header-container {
  display: block;
  position: fixed;
  z-index: 10;

  /* display: none; */
}

.header {
  display: flex;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  padding: 1.5rem;
  max-height: 180px;
  background-color: var(--white);
}

.titlelogo-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 4;
}

.site-logo {
  background-image: url(images/logo-square.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 00% 50%;
  width: 12vw;
  height: 15vw;
  /* transform: scale(0.8); */
  max-height: 3em;
}

.site-title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: clamp(3vw, 5vw, 6vw);
  font-family: "Josefin Sans", "sans-serif";
  width: 65vw;
}

.site-title > a {
  color: var(--color1-primary);
}

/* FULL WIDTH NAV */

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background-color: var(--color3);
  align-items: center;
}

.navlist {
  display: flex;
  margin-right: 0.7rem;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--shade1);
}

.nav a {
  display: block;
  padding: 15px;
  list-style: none;
}

.nav a:hover {
  display: block;
  color: var(--color3);
  background-color: var(--shade1);
  border-radius: 0.5em;
}

/* HERO */

.hero {
  height: clamp(50vh, 8rem, 80vh);
  margin-top: clamp(10vh, 8rem, 30vh);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: var(--shade3);
  background-image: url(images/hero-01-square.jpg);
  background-color: #fff;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 20px var(--shade2);
  border: 1px solid var(--shade1);
  z-index: 1;
}

.hero > div > h1 {
  display: flex;
  font-size: 2rem;
  color: var(--color2-primary);
}

.hero-btn {
  color: var(--white);
  background: var(--color2-trans);
  font-size: 2rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 3;
  border: 1px solid var(--shade1);
  width: 70%;
  margin-top: 5vh;
}

.hero-text {
  background: rgb(255, 255, 255, 50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  z-index: 3;
  color: var(--color1-primary);
  /* text-shadow: 0.2vw 0.3vw 2vw var(--shade1); */
}

/* SECTION HEADER */

.section-header {
  display: block;
  font-size: 2em;
  padding: 0.5em;
  background-color: var(--white);
  width: 100vw;
  color: var(--color2-primary);
}

/* ABOUT TOP */

.btn-more {
  position: relative;
  border: 1px solid var(--shade3);
  border-radius: 1vw;
  font-weight: bold;
  text-decoration: none;
  color: var(--shade3);
  margin-top: 4vh;
  transition: 0.3s;
}

.btn-more a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 6vh;
  width: 100%;
}
.btn-more a:hover {
  color: var(--shade1);
}

.btn-more:hover {
  background-color: var(--color3);
}

#about {
  display: block;
}

#about:before {
  display: block;
  content: "";
  height: 100px;
  margin: -100px 0 0;
}

.about-text {
  padding: 2em;
}

.about-container {
  display: flex;
  position: relative;
  background-image: url(images/function-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: contain;
}

.about-half-overlay {
  display: flex;
  flex-grow: 7;
  order: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  opacity: 0.9;
  max-width: 70vw;
}

.about-half-hidden {
  display: flex;
  order: 1;
  flex-grow: 3;
  opacity: 0.1;
}

.about-text li {
  list-style: none;
  text-align: left;
  margin-left: 5vw;
  width: 100%;
}

.about-speakers {
  display: flex;
  justify-content: center;
}

/* INFO  */

.info-text {
  /* display: flex; */
  text-align: center;
  align-items: center;
  padding: 4vw;
  background-color: none;
}

.info-text p {
  /* text-align: right; */
  font-size: 1em;
  line-height: 1.6em;
  color: var(--color3);
  font-weight: bold;
}

/* ABOUT BOTTOM */

.ab-container {
  display: flex;
}

.ab-image {
  display: flex;
  align-items: center;
  padding-right: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.ab-text {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 1em;
  line-height: 1.6em;
  color: var(--color3);
  font-weight: bold;
}

.card-container {
  display: flex;
  /* opacity: 0.8; */
  justify-content: space-evenly;
  line-height: 1.4em;
  z-index: 3;
}

.card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: 5px 5px 15px var(--shade2);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.card:nth-child(1) .box .content a,
.card:nth-child(2) .box .content a,
.card:nth-child(3) .box .content a {
  background: var(--white);
}

.card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  background-color: var(--shade3-trans);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  font-size: 1.6em;
  font-weight: bold;
}

.card:nth-child(1) {
  background: url(images/airfryer-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  background: url(images/airfryer-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card:nth-child(3) {
  background: url(images/spanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card .box:hover {
  transform: translateY(-10px);
}

.card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.card .box .content {
  padding: 4vw;
  text-align: center;
}

.card .box .content h3 {
  font-size: 2.2rem;
  z-index: 1;
  transition: 0.3s;
  margin-bottom: 15px;
  color: var(--color2-primary);
}

.card .box .content p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  z-index: 1;
  transition: 0.3s;
}

.card .box .content a {
  position: relative;
  display: inline-block;
  padding: 3vh 6vh;
  background: black;
  border-radius: 1vw;
  font-weight: bold;
  text-decoration: none;
  color: var(--color3);
  margin-top: 4vh;
  transition: 0.3s;
}

.card .box .content a:hover {
  /* box-shadow: 0 10px 20px var(--shade3); */
  background: var(--white);
  color: var(--shade3);
}

/* FOOTER */

.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  height: 8vh;
  background-color: var(--color3);
  padding: 3vh;
  overflow: hidden;
  text-decoration: none;
}

.footer > a {
  color: var(--white);
}

/* CONTACT */

.contact-form {
  margin-top: 2rem;
}

.contact-form > h1 {
  font-size: 2rem;
}

.form-field {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}

.input-field {
  font-size: 2rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.contact-container-main {
  color: var(--shade3);
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-top: 2rem;
}
.contact-item-text,
.send-btn {
  border-radius: 2rem;
  color: var(--white);
  font-size: 2em;
  background: var(--color1-primary);
  padding: 3.5rem;
  line-height: 3rem;
}

.send-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* MEDIA QUERIES */

/* @media (max-width: 500px) {
  body {
    font-size: 1em;
    line-height: 1.2em;
  }

  .toggler {
    height: 10vh;
  }
  .fa-solid {
    font-size: 1.5em;
  }

  .site-logo {
    max-height: 5em;
  }

  .about-text {
    padding: 1.5em;
  }

  .ab-container {
    flex-direction: column;
    padding: 2vw;
  }

  .feature-row {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;
  }
  .contact-container-main {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
}
} */

@media (max-width: 1100px) {
  body {
    font-size: 1em;
    line-height: 1.2em;
  }
  .nav {
    display: none;
  }

  .site-logo {
    display: flex;
    justify-content: flex-start;
    font-size: clamp(3vw, 5vw, 3vw);
    margin: 0;
  }

  .card-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .contact-container-main {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .hero {
    margin: 10vh 0 0 0;
    height: 80vh;
    align-items: center;
    background-image: url(images/hero-01.jpg);
  }

  .site-title {
    font-size: clamp(1vw, 1.2em, 1.5em);
    width: 45vw;
    height: 15vh;
  }

  .menu-wrap {
    display: none;
  }
  .toggler {
    display: none;
  }

  .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 15px;
    background-color: var(--shade3-trans);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    font-size: 1.6em;
    font-weight: bold;
  }

  .card .box:hover {
    transform: translateY(-10px);
  }

  .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .card .box .content {
    padding: 2vw;
    text-align: center;
  }

  .card .box .content h3 {
    font-size: 2rem;
    color: var(--white);
    z-index: 1;
    transition: 0.3s;
    margin-bottom: 15px;
  }

  .card .box .content p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: var(--white);
    z-index: 1;
    transition: 0.3s;
  }

  .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 3vh 6vh;
    background: black;
    border-radius: 1vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--color3);
    margin-top: 4vh;
    transition: 0.3s;
  }

  #about:before {
    display: block;
    content: "";
    height: 150px;
    margin: -150px 0 0;
  }
  #product-options:before {
    display: block;
    content: "";
    height: 150px;
    margin: -150px 0 0;
  }
}
